#container{
    width: 960px;
    margin: 0px auto;
}

#left-column {
    width: 700px;
    float: left;
    background: blue;
}

#right-column {
    width: 260px;
    float: left;
    background: orange;
}